@model TicketingFrontEnd.Models.FilmReservations

<div class="text-center">
    <table style="width:80%">
        <tr>
            <td>ID</td>
            <td>FilmID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
        </tr>
        
        <tr>
            <td style="width:20%">@Model.Id</td>
            <td style="width:20%">@Model.FilmId</td>
            <td style ="width:20%">@Model.FirstName </td>
            <td style="width:20%">@Model.LastName</td>
            <td style="width:20%">@Model.Email </td>
        </tr>
        
    </table>
    <div><a asp-controller="ManageReservations" asp-action="FilmReservations" asp-route-FilmID="@Model.FilmId">Back to Reservations List</a></div>
</div>


