@model IEnumerable<TicketingFrontEnd.Models.Films>

<div class="text-center">
    <div style="width:80%;align-content:center">
        <button><a class="nav-link btn btn-link text-dark" asp-area="" asp-controller="ManageFilms" asp-action="Get">Add film</a></button>
        
    </div>
    <table style="width:80%;align-content:center">
        <tr>
           
            <td>Title</td>
            <td>Screening</td>
        </tr>
        @foreach(var fm in Model){
        <tr>
            
            <td>@fm.Title </td>
            <td>@fm.ScreeningDate </td>
                <td><button><a asp-area="" asp-controller="ManageReservations" asp-action="FilmReservations" asp-route-FilmID="@fm.ID">Reservations</a></button></td>
                <td><button><a asp-area="" asp-controller="ManageFilms" asp-action="UpdateGet" asp-route-FilmID="@fm.ID">Update</a></button></td>
                <td><button><a asp-area="" asp-controller="ManageFilms" asp-action="Delete" asp-route-FilmID="@fm.ID">Delete</a></button></td>
                <td><button><a asp-area="" asp-controller="ManageFilms" asp-action="Details" asp-route-FilmID="@fm.ID">Details</a></button></td>
        </tr>
        }
    </table>
</div>

